@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <h1 id="name">Hello!</h1>
    <br/>
    <br/>
    <h2>You are the School Administrator</h2>
    <br />
    <h3>The stats of the school are:</h3>
    <br/>
    <p>Number of Students: <strong>130</strong></p>
    <p>Academic Average of School: <strong>3,8</strong></p>
    <p>Number of Classes: <strong>132</strong></p>
    <p>Number of Teachers: <strong>40</strong></p>
    <p>Capacity of school: <strong>200</strong></p>
</div>