@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Filc!</h1>
    

    <p>Hi! 
        <br />
        <br />
        We are developing a school system management system called 'Filc'. 
        <br />
        <br />
        We are a team of five and we are determined to create the best user experience for both teachers and students in this web application.
        <br />
        <br />
        This site is currently in beta.
        <br />
        <br />
        The process of connecting the frontend to the backend is underway.
        <br />
        <br />
        Meanwhile, we just wanted to give you an idea of what's to come....
    </p>
</div>
