@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Filc!</h1>
    <h2 class="text-center">A little introduction:</h2>
    <p>Hi! We are currently creating a school system management system called 'Filc'. We are a team of five and we are
        determined to create the best user experience for both teachers and students in this web application.
        This site is currently in beta, since the frontend is not yet connected to the backend and we just wanted to
        make a hard-sketch of what we want to add to these pages.
    </p>
</div>
