.school{
    padding: 1rem;
    width: 50%;
    height: auto;
    margin-top: 20px;
    height: 90%;
}


.school-header{
    border-bottom: 5px solid hsl(240, 15%, 20%);
    text-align: center;
}

.school-header p{
    font-size: 30px;
    color: hsl(240, 15%, 20%);
    font-family: "Fantasy";
    font-weight: 600;
}

.school-body{
    
    margin-top : 2rem
}

.school-address{
    text-align: center;
    display: grid;
    grid-template-columns: 10rem auto;
    height: 8rem;
}

.address-title{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    font-size: 24px;
    font-family: 'fatasy';
    padding-bottom: 3rem;
    border-bottom: 5px solid black;

}

.address{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color:hsl(240, 15%, 20%)
}

.school-type{
    margin-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 10rem auto;
    height: 8rem;
}

.type-title{
    display: grid;
    justify-items: center;
    grid-area: 1 / 1;
    font-size: 24px;
    font-family: 'fatasy';
    padding-bottom: 2rem;
    border-bottom: 5px solid black;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color:hsl(240, 15%, 20%)
}

.school-administrator{
    text-align: center;
    display: grid;
    grid-template-columns: 10rem auto;
    height: 8rem;
}

.administrator-title{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    font-size: 24px;
    font-family: 'fatasy';
    padding-bottom: 2rem;
    border-bottom: 5px solid black;

}

.administrator{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color:hsl(240, 15%, 20%)
}

.school-students{
    text-align: center;
    display: grid;
    grid-template-columns: 10rem auto;
    height: 3rem;
    margin-top: 5rem;
    
}
.students-title{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    font-size: 24px;
    font-family: 'fatasy';
    padding-bottom: 2rem;
    border-bottom: 5px solid black;
}
.students{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color:hsl(240, 15%, 20%)
}