<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Filc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Filc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (ViewData["Title"] == "Home Page" || ViewData["Title"] == "Privacy Policy")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Filc</a>
                } 
                else if (ViewData["Title"] == "Student Page")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Student" asp-action="Index">Filc</a>
                }
                else if (ViewData["Title"] == "Teacher Page")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Teacher" asp-action="Index">Filc</a>
                }
                else if (ViewData["Title"] == "Admin Page")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="SchoolAdmin" asp-action="Index">Filc</a>
                }
                else if (ViewData["Title"] == "Government Page")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="GovAdmin" asp-action="Index">Filc</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (ViewData["Title"] == "Home Page" || ViewData["Title"] == "Privacy Policy")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Student Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Teacher Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SchoolAdmin" asp-action="Index">Admin Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="GovAdmin" asp-action="Index">Government Page</a>
                            </li>
                        }
                        else if (ViewData["Title"] == "Student Page")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">My Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Grades">Grades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="TimeTable">Time Table</a>
                            </li>
                        }
                        else if (ViewData["Title"] == "Teacher Page")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">My Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="GiveEvaluation">Give an Evaluation</a>
                            </li>
                        }
                        else if (ViewData["Title"] == "Admin Page")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SchoolAdmin" asp-action="Index">My Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SchoolAdmin" asp-action="RegisterUser">Register a New User</a>
                            </li>
                        }
                        else if (ViewData["Title"] == "Government Page")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="GovAdmin" asp-action="Index">My Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="GovAdmin" asp-action="RegisterSchool">Add a New School</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="GovAdmin" asp-action="RegisterAdmin">Register a New School Admin</a>
                            </li>
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Filc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
