.news-box{
    padding: 1rem;
    width: 1100px;
    height: 900px;
    margin-top: -20px;
    border-radius: 4px;
    background: linear-gradient(145deg, #f8f8f8, #f0f0f0);
    box-shadow:  2px 2px 15px #c3c3c3,
                -2px -2px 15px #fdfdfd;
}

.newsarticle{
    margin-left: 20px;
    margin-top: 20px;
}

