.App {
display: grid;
grid-template-columns:  20rem auto;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 100vh;
overflow: hidden;
}

.NavLine 
{ 
    grid-area: 1 / 1 / 2 / 2; 
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    background-color: hsl(240, 15%, 20%);
    height: 100vh;
}

.page-header{
    grid-area: 1 / 2 / 2 / 3; 
    height: 4rem;
    width: 100%;
    background-color: hsl(0, 0%, 80%);
    border-bottom: 1px solid rgba(50, 49, 49, 0.498);
    display: inline-flex;
}
.page-title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-top: 0.75rem;
}
.icon{
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
}
.content {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}