.productsTable {
    width: 60%;
}

.picture {
    max-width: 100%;
    height: 100%;
}

.row-odd {
    background-color: rgba(138, 149, 222, 0.8)
}

.row-even {
    background-color: rgba(87, 97, 165, 0.8)
}

.col{
    padding: '10px';
    border: 'solid 1px gray',
}