@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Teacher Page";
}

<div class="container">
    <h1 id="name">Hi &lt;FirstName&gt; &lt;FirstName&gt;!</h1>
    <br/>
    <br />
    <p>Do you wish to give an evaluation? You can do it <a asp-action="GiveEvaluation">here.</a></p>
</div>