.profile{
    width: 500px;
    height: 600px;
    border-radius: 18px;
    background: linear-gradient(142deg, #f0f0f0, #d5d4d4);
    box-shadow:  11px 11px 33px #c3c3c3,
             -11px -11px 33px #fdfdfd;
}

.profile-top{
    height: 150px;
    display: flex;
}
.profile-details{
    height: 400px;
}
.profile-footer{
    height: 50px;
}


.logged-text{
    display: inline;
    margin-top: 65px;
    margin-left: 30px;
    font-size: 24px;
}

.not-logged-text{
    display: inline;
    margin-top: 65px;
    margin-left: 30px;
    font-size: 24px;
}

.login-btn{
    float: right;
    margin-top: 85px;
    margin-right: 35px;
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #07c;
}

.login-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.login-btn:active {
  background-color: #0064bd;
  box-shadow: none;
}

.user-details{
    font-size: 24px;
}

.user-id{

}

.user-name{

}

.user-email{

}

.user-birthDate{

}