@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Student Page";
}

<div class="container">
    <h1 id="name">Hi &lt;FirstName&gt; &lt;FirstName&gt;!</h1>
    <br/>
    <br />
    <h2 id="title" class="align-self-center">Your Basic informations:</h2>
    <br/>
    <p>Birth Date: <strong>$lt;BirthDate&gt;</strong></p>
    <p>Class: <strong>$lt;ClassName&gt;</strong></p>
    <p>Academic average: <strong>$lt;Avg&gt;</strong></p>
</div>
