@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Student Page";
}

<div class="container">
    <h1>&lt;ClassName&gt; class TimeTable</h1>
    <table class="table-light table-bordered">
        <thead>
        <tr>
            <th class="col-3">Monday</th>
            <th class="col-3">Tuesday</th>
            <th class="col-3">Wednesday</th>
            <th class="col-3">Thursday</th>
            <th class="col-3">Friday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>English</td>
            <td>English</td>
            <td>P.E.</td>
            <td>Math</td>
            <td>P.E.</td>
        </tr>
        <tr>
            <td>P.E.</td>
            <td>English</td>
            <td>Math</td>
            <td>Math</td>
            <td>P.E.</td>
        </tr>
        <tr>
            <td>Literature</td>
            <td>P.E.</td>
            <td>Math</td>
            <td>English</td>
            <td>Math</td>
        </tr>
        <tr>
            <td>Math</td>
            <td>Literature</td>
            <td>Literature</td>
            <td>Music</td>
            <td>Math</td>
        </tr>
        <tr>
            <td>Lunch Break</td>
            <td>Lunch Break</td>
            <td>Lunch Break</td>
            <td>Lunch Break</td>
            <td>Lunch Break</td>
        </tr>
        <tr>
            <td>English</td>
            <td>Math</td>
            <td>Literature</td>
            <td>P.E.</td>
            <td>Literature</td>
        </tr>
        </tbody>
    </table>
</div>