@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Government Page";
}

<div class="container">
    <h1 id="name">Hi &lt;FirstName&gt; &lt;FirstName&gt;!</h1>
    <p>We hope you have a pleasant day!</p>
</div>